body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url('pw_maze_black.png');
  margin: 0;
}

.cardStyle {
  position: 'absolute';
  left: 45%;
  width: 75%
}

.userStyle {
  position: 'absolute';
  width: '100%';
  height: '30%';
  top: '70%';
  left: '0';
}
